<p><%= activity.inspect %></p>
<!--
PublicActivity::Activity 
id: 1,
trackable_id: 1, 
trackable_type: "Report", 
owner_id: 1, 
owner_type: "User", 
key: "report.create", 
parameters: {}, 
recipient_id: 1, 
recipient_type: "User", 
created_at: "2016-03-01 11:47:01", 
updated_at: "2016-03-01 11:47:01">
-->