<%= link_to label_path(label) do %>
  <span class="label" style="background-color:<%= label.color %>">
    <span class="octicon octicon-tag"></span>
    <span><%= label.title %></span>
  </span>
<% end %>
