<div class="row">
  <div class="col-xs-1" style="padding-right:0">
    <span class="profile"><%= user.firstname[0] %></span>
  </div>
  <div class="col-xs-11">
    <%= link_to "#{user.lastname}, #{user.firstname}", user %><br>
    <span class="text-muted"><%= user.email %></span>
  </div>
  <div class="col-xs-2 text-xs-right">
    <% if current_user.admin? %>
      <%= link_to 'Delete', user, method: 'delete', class: 'btn btn-sm btn-outline-danger', confirm: 'Are you sure?' %>
    <% end %>
  </div>
</div>
<hr>