<div class="alert alert-danger">
  <strong>Whoops! Something went wrong here.</strong>
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div><br>
