<% unless activity.owner.nil? || activity.trackable.nil? %>
  <div class="row">
    <div class="col-xs-1 text-xs-right">
      <span class="octicon octicon-issue-closed text-muted"></span>
    </div>
    <div class="col-xs-13" style="padding-left:0">
      <small class="text-muted">
        <%= link_to activity.owner.name, activity.owner %>
        closed <%= link_to activity.trackable.title, activity.trackable %>.
        <%= time_ago_in_words(activity.created_at) %> ago.
      </small>
    </div>
  </div>
  <hr>
<% end %>
