<% unless activity.owner.nil? || activity.trackable.nil? %>
  <div class="row">
    <div class="col-xs-1">
      <span class="mega-octicon octicon-issue-closed text-muted"></span>
    </div>
    <div class="col-xs-13" style="padding-left:0">
      <small class="text-muted"><%= time_ago_in_words(activity.created_at) %> ago.</small><br>
      <span>
        <%= link_to activity.owner.name, activity.owner %>
        closed <%= link_to activity.trackable.title, activity.trackable %>.
      </span>
    </div>
  </div>
  <hr>
<% end %>
